<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>刑事通用笔录</title>
<link href="../css/system.css" rel="stylesheet" type="text/css" />
<SCRIPT src="../js/jquery.js" type=text/javascript></SCRIPT>
<script src="../layer/layer.js"></script>
</head>
<script>
$(function(){
	$('.layer-demolist1').click(function(){
			var index = layer.open({
			  type: 2,
			  content: '新增.html',
			  area: ['320px', '195px'],
			  maxmin: true
			});
			layer.full(index);
	});
	$('.layer-demolist2').click(function(){
			layer.open({
			  content: '确定删除选中信息？',
			  
			});

	});
	$('.layer-demolist3').click(function(){
			layer.open({
			  content: '确定审核该信息？',
			  
			});

	});
})
</script>
<body>
	
        <!-- mian -->
        		<div class="mianbody">
                		
                		<div class="address">首页>联系我们>关于我们</div>
                        <div class="mian_Inner">
                        		<div class="text-c">
                    		<span>共有数据：<strong>54</strong>条 </span>
                            <div class="left">
                            <!--点击弹出-->
                                <ul class="clearfix demolist">
                                        <li class="layer-area">
                                            <a class="layer-demolist2 dlidt" href="javascript:;">删除</a>
                                            <a class="layer-demolist1 dlidt1" href="javascript:;">添加</a>
                                            <a class="dlidt2" href="javascript:;">移动</a>
                                        </li>
                                </ul>
                            </div>    
                        </div>
                                <div class="bilu_Box">
                                        		<table>
                                                		<tr>
                                                        		<th width="5%"><input name="Fruit" type="checkbox" value="" /></th>
                                                        		<th width="5%">ID</th>
                                                                <th width="20%">标题</th>
                                                                <th width="10%">分类</th>
                                                                <th width="16%">来源</th>
                                                                <th width="14%">更新时间</th>
                                                                <th width="6%">浏览次数</th>
                                                                <th width="10%">发布状态</th>
                                                                <th width="14%">操作</th>
                                                        </tr>
                                                        <tr>
                                                        		<td><input name="Fruit" type="checkbox" value="" /></td>
                                                                <td>12</td>
                                                                <td>资讯标题</td>
                                                                <td>行业动态</td>
                                                                <td>榆林学院</td>
                                                                <td>2014-8-17 17:25:35</td>
                                                                <td>58</td>
                                                                <td>已发布</td>
                                                                <td>
                                                                	<ul class="clearfix demolist">
                                                                            <li class="layer-area">
                                                                                <a class="layer-demolist3 dlidt" href="javascript:;">审核</a>|
                                                                                <a class="layer-demolist1 dlidt1" href="javascript:;">编辑</a>|
                                                                                <a class="layer-demolist2 dlidt2" href="javascript:;">删除</a>
                                                                            </li>
                                                                    </ul>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                        		<td><input name="Fruit" type="checkbox" value="" /></td>
                                                                <td>12</td>
                                                                <td>资讯标题</td>
                                                                <td>行业动态</td>
                                                                <td>榆林学院</td>
                                                                <td>2014-8-17 17:25:35</td>
                                                                <td>58</td>
                                                                <td>已发布</td>
                                                                <td>
                                                                	<ul class="clearfix demolist">
                                                                            <li class="layer-area">
                                                                                <a class="layer-demolist3 dlidt" href="javascript:;">审核</a>|
                                                                                <a class="layer-demolist1 dlidt1" href="javascript:;">编辑</a>|
                                                                                <a class="layer-demolist2 dlidt2" href="javascript:;">删除</a>
                                                                            </li>
                                                                    </ul>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                        		<td><input name="Fruit" type="checkbox" value="" /></td>
                                                                <td>12</td>
                                                                <td>资讯标题</td>
                                                                <td>行业动态</td>
                                                                <td>榆林学院</td>
                                                                <td>2014-8-17 17:25:35</td>
                                                                <td>58</td>
                                                                <td>已发布</td>
                                                                <td>
                                                                	<ul class="clearfix demolist">
                                                                            <li class="layer-area">
                                                                                <a class="layer-demolist3 dlidt" href="javascript:;">审核</a>|
                                                                                <a class="layer-demolist1 dlidt1" href="javascript:;">编辑</a>|
                                                                                <a class="layer-demolist2 dlidt2" href="javascript:;">删除</a>
                                                                            </li>
                                                                    </ul>
                                                                </td>
                                                        </tr>
                                                </table>
                                        </div>
                        </div>
                        <div class="box-num">
                            <a href="#"><em>首页</em></a>
                            <a href="#"><i><</i><em>上一页</em></a>
                            <a href="#"><em>下一页</em><i>></i></a>
                            <a href="#"><em>尾页</em><i>></i></a>
                            <input type="text" class="CNM" value="" />
                            <a href="#"><em>GO</em><i>></i></a>
                        </div>
                </div>
        <!-- footer -->
</body>
</html>
