<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增内容 </title>
<link href="../css/system.css" rel="stylesheet" type="text/css" />
<SCRIPT src="../js/jquery.js" type=text/javascript></SCRIPT>

<SCRIPT src="../ueditor/ueditor.config.js" type=text/javascript></SCRIPT>
<SCRIPT src="../ueditor/ueditor.parse.js" type=text/javascript></SCRIPT>
</head>
<!-- 全选input -->

<body>
	
        <!-- mian -->
        		<div class="xinz">
                	<div class="page-container">
                    		<form class="form-article-add">
                            		<div class="row">
                                    		<div class="rowL"><span class="c-red">*</span>文章标题：</div>
                                            <div class="rowR"><input id="" class="input-text" type="text" name="" placeholder="" value=""></div>
                                            <div class="clear"></div>
                                    </div>
                                    <div class="row">
                                    		<div class="rowL"><span class="c-red">*</span>简略标题：</div>
                                            <div class="rowR"><input id="" class="input-text" type="text" name="" placeholder="" value=""></div>
                                            <div class="clear"></div>
                                    </div>
                                    <div class="row">
                                    		<div class="rowL"><span class="c-red">*</span>URL跳转链接：</div>
                                            <div class="rowR"><input id="" class="input-text" type="text" name="" placeholder="" value=""></div>
                                            <div class="clear"></div>
                                    </div>
                                    <div class="row">
                                        <div class="rowL"><span class="c-red">*</span>来源：</div>
                                        <div class="rowL">
                                            <span class="rowsele">
                                            <input id="" class="input-text" type="text" name="" placeholder="" value="">
                                            </span>
                                        </div>
                                        <div class="rowL"><span class="c-red">*</span>作者：</div>
                                        <div class="rowL">
                                            <span class="rowsele">
                                            <input id="" class="input-text" type="text" name="" placeholder="" value="">
                                            </span>
                                        </div>
                                        <div class="rowL"><span class="c-red">*</span>时间：</div>
                                        <div class="rowL">
                                        <span class="rowsele">
                                            <input id="" class="input-text" type="text" name="" placeholder="" value="">
                                            </span>
                                        </div>
                                         <div class="clear"></div>
                                    </div>
                                    <div class="row">
                                        <div class="rowL"><span class="c-red">*</span>分类栏目：</div>
                                        <div class="rowL">
                                            <span class="rowsele">
                                            <select class="select" name="">
                                            <option value="0">全部栏目</option>
                                            <option value="1">新闻资讯</option>
                                            <option value="11">├行业动态</option>
                                            <option value="12">├行业资讯</option>
                                            <option value="13">├行业新闻</option>
                                            </select>
                                            </span>
                                        </div>
                                        <div class="rowL"><span class="c-red">*</span>文章类型：</div>
                                        <div class="rowL">
                                            <span class="rowsele">
                                            <select class="select" name="">
                                            <option value="0">全部栏目</option>
                                            <option value="11">├行业动态</option>
                                            <option value="12">├行业资讯</option>
                                            <option value="13">├行业新闻</option>
                                            </select>
                                            </span>
                                        </div>
                                        <div class="rowL"><span class="c-red">*</span>排序值：</div>
                                        <div class="rowL">
                                        <span class="rowsele">
                                            <input id="" class="input-text" type="text" name="" placeholder="" value="">
                                            </span>
                                        </div>
                                         <div class="clear"></div>
                                    </div>
                                           
                                    <div class="row">
                                    		<div class="rowL"><span class="c-red">*</span>关键词：</div>
                                            <div class="rowR"><input id="" class="input-text" type="text" name="" placeholder="" value=""></div>
                                            <div class="clear"></div>
                                    </div>
                                    <div class="row">
                                    		<div class="rowL"><span class="c-red">*</span>文章摘要：</div>
                                            <div class="rowR"><textarea class="textarea" onkeyup="textarealength(this,200)" nullmsg="备注不能为空！" dragonfly="true" datatype="*10-100" placeholder="说点什么...最少输入10个字符" rows="" cols="" name=""></textarea></div>
                                            <div class="clear"></div>
                                    </div>
                                    <div class="row">
                                    		<div class="rowL"><span class="c-red">*</span>文章内容：</div>
                                            <div class="rowR">
                                            		<img src="../images/text.jpg" width="100%" />
                                            </div>
                                            <div class="clear"></div>
                                    </div>
                                    <div class="buttom">
                                    		<input class="btn btn-primary radius" type="submit" value="保存并提交审核" />
                                            <input class="btn btn-secondary radius" type="submit" value="保存草稿" />
                                            <input class="btn btn-default radius" type="reset" value="取消" />
                                    </div>
                            </form>
                    </div>
                </div>
        <!-- footer -->
</body>
</html>
